<html>
	<head> <title> Sistemas de control de Ingreso </title> </head>
	<body>
		<h1> Sistemas de control de Ingreso</h1>
		<hr>
		<h3> Opciones </h3>
		<ul>
			<li> <a href=/mantenimientos>Mantenimientos</a> </li> <p>
			<li> <a href=/procesos>Procesos</a> </li> <p>
			<li> <a href=/reportes>Reportes</a> </li> <p>
		</ul>
	</body>
</html>