<html>
	<head><title> Sistema de control de Ingreso </title></head>
	<body>
		<h1> Editar categoria </h1>
		<hr>
		<form method=post action=/m_categorias_grabar_editar>
			<input type=hidden name=xid id=xid value=<%= categoria._id%>>
			<table border=0>
				<tr><td>Nombre:</td><td><input type=text name=xnom id=xnom size=30
				value='<%= categoria.nombre%>'></td></tr>
				<tr><td>Abreviatura:</td><td><input type=text name=xabr id=xabr size=10
				value='<%= categoria.abreviatura%>'></td></tr>
				<tr><td>Imagen:</td><td><input type=text name=ximg id=ximg size=1
				value='<%= categoria.imagen%>'></td></tr>
				<tr><td></td><td><input type=submit value=Grabar></td></tr>
			</table>
		</form>
	</body>
</html>