<html>
	<head>
		<title> Sistemas de control de Ingreso </title>
	</head>
	<body>
		<h1> Mantenimiento de categorias </h1>
		<hr>
		<p> <a href="/m_categorias_nuevo">Nueva Categoria</a> </p>
		<table border="1">
			<tr>
				<th> ID </th>
				<th> nombre </th>
				<th> abreviatura </th>
				<th> Imagen </th>
				<th colspan="2"> acciones </th>
			</tr>
		<% records.forEach( function(categoria){ %>
			<tr>
				<td> <%= categoria._id %> </td>
				<td> <%= categoria.nombre %> </td>
				<td> <%= categoria.abreviatura %> </td>
				<td> <%= categoria.imagen %> </td>
				<td> <a href=/m_categorias_editar/<%= categoria._id %>>Editar</a> </td>
				<td> <a href="/m_categorias_eliminar/<%= categoria._id %>">Eliminar</a> </td>
			</tr>
		<% }); %>
		</table>
	</body>
</html>