<html>
	<head> <title> Sistemas de control de Ingreso </title> </head>
	<body>
		<h1> Nueva Categoria </h1>
		<hr>
		<form method="post" action="/m_categorias_grabar_nuevo">
			<table border=0>
				<tr>
					<td>Nombre:</td>
					<td><input type="text" name="xnom" id="xnom" size="30"></td>
				</tr>
				<tr>
					<td>Abreviatura:</td>
					<td><input type="text" name="xabr" id="xabr" size="10"></td>
				</tr>
				<tr><td>Imagen:</td><td><input type=text name=ximg id="ximg"></td></tr>
				<tr><td></td><td><input type=submit value=Grabar></td></tr>
			</table>
		</form>
		</tr>
	</body>
</html>