<html>
	<head>
		<title> Sistemas de control de Ingreso </title>
	</head>
	<body>
		<h1> Mantenimiento de pedidos </h1>
		<hr>
		<p> <a href="/m_pedidos_nuevo">Nuevo Pedido</a> </p>
		<table border="1">
			<tr>
				<th> ID </th>
				<th> Usuario </th>
				<th> Producto </th>
				<th> Total </th>
				<th colspan="2"> acciones </th>
			</tr>
		<% records.forEach( function(pedido){ %>
			<tr>
				<td> <%= pedido._id %> </td>
				<td> <%= pedido.usuario %> </td>
				<td> <%= pedido.producto %> </td>
				<td> <%= pedido.total %> </td>
				<td> <a href=/m_pedidos_editar/<%= pedido._id %>>Editar</a> </td>
				<td> <a href="/m_pedidos_eliminar/<%= pedido._id %>">Eliminar</a> </td>
			</tr>
		<% }); %>
		</table>
	</body>
</html>