<html>
	<head>
		<title> Sistemas de control de Ingreso </title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<h1> Nuevo Pedido </h1>
		<hr>
		<form method=post action=/m_pedidos_grabar_nuevo>
			<table border=0>
				<tr>
					<td>Usuario:</td>
					<td>
						<select name=xusu id=xusu>
							<% usuarios.forEach( function(usuario){ %>
							<option value="<%=usuario._id%>"><%=usuario.first_name+' '+usuario.last_name%></option>
							<% }); %>
						</select>
					</td>
				</tr>
				<tr>
					<td>Producto:</td>
					<td>
						<select name=xpro id=xpro>
							<% productos.forEach( function(producto){ %>
							<option value="<%=producto._id%>" data-precio="<%=producto.precio%>"><%=producto.nombre%></option>
							<% }); %>
						</select>
					</td>
				</tr>
				<tr><td>Precio:</td><td><input type=text name=xpre id=xpre size=10></td></tr>
				<tr><td></td><td><input type=submit value=Grabar class="btn btn-info"></td></tr>
			</table>
		</form>
		</tr>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript">
		$('#xpro').change(function(){
			var precio = $('#xpro option:selected').attr('data-precio');
			$('#xpre').val(precio);
		}).change();
		</script>
	</body>
</html>