<html>
	<head> <title> Sistemas de control de Ingreso </title> </head>
	<body>
		<h1> Nuevo Producto </h1>
		<hr>
		<form method=post action=/m_productos_grabar_nuevo>
			<table border=0>
				<tr><td>Nombre:</td><td><input type=text name=xnom id="xnom" size=30></td></tr>
				<tr>
					<td>Categoria:</td>
					<td>
						<select name=xcat id=xcat>
							<% categorias.forEach( function(categoria){ %>
							<option value="<%=categoria._id%>"><%=categoria.nombre%></option>
							<% }); %>
						</select>
					</td>
				</tr>
				<tr><td>Precio:</td><td><input type=text name=xpre id=xpre size=10></td></tr>
				<tr><td>Imagen:</td><td><input type=text name=ximg id=ximg size=10></td></tr>
				<tr><td></td><td><input type=submit value=Grabar></td></tr>
			</table>
		</form>
		</tr>
	</body>
</html>