<html>
	<head><title> Sistema de control de Ingreso </title></head>
	<body>
		<h1> Editar producto </h1>
		<hr>
		<form method=post action=/m_productos_grabar_editar>
			<input type=hidden name=xid id=xid value=<%= producto._id%>>
			<table border=0>
				<tr><td>Nombre:</td><td><input type=text name=xnom id=xnom size=30
				value='<%= producto.nombre%>'></td></tr>
				<tr><td>Precio:</td><td><input type=text name=xpre id=xpre size=10
				value='<%= producto.precio%>'></td></tr>
				<tr><td>Imagen:</td><td><input type=text name=ximg id=ximg size=10
				value='<%= producto.imagen%>'></td></tr>
				<tr>
					<td>Categoria:</td>
					<td>
						<select name=xcat id=xcat>
							<% categorias.forEach( function(categoria){
							if(categoria._id==producto.categoria){ %>
							<option value="<%=categoria._id%>" selected="selected"><%=categoria.nombre%></option>
							<% }else{ %>
							<option value="<%=categoria._id%>"><%=categoria.nombre%></option>
							<%  }
						}); %>
						</select>
					</td>
				</tr>
				<tr><td></td><td><input type=submit value=Grabar></td></tr>
			</table>
		</form>
	</body>
</html>