<html>
	<head> <title> Sistemas de control de Ingreso </title> </head>
	<body>
		<h1> Mantenimiento de Productos </h1>
		<hr>
		<p> <a href=/m_productos_nuevo>Nuevo Producto</a> </p>
		<table border=1>
		<tr> <th> ID </th>
			 <th> nombre </th>
			 <th> categoria </th>
			 <th> precio </th>
			 <th> imagen </th>
			 <th colspan=2> acciones </th>
		</tr>
		<% records.forEach( function(producto){ %>
		<tr> <td> <%= producto._id %> </td>
			 <td> <%= producto.nombre %> </td>
			 <td> <%= producto.categoria %> </td>
			 <td> <%= producto.precio %> </td>
			 <td> <%= producto.imagen %> </td>
			 <td> <a href=/m_productos_editar/<%= producto._id %>>Editar</a> </td>
			 <td> <a href=/m_productos_eliminar/<%= producto._id %>>Eliminar</a> </td>
		</tr>
		<% }); %>
		</table>
	</body>
</html>