<html>
	<head> <title> Sistemas de control de Ingreso </title>
	<body>
		<h1> Mantenimientos </h1>
		<hr>
		<ul>
			<li> <a href=/M_categorias_listado>Categorias</a> </li> <p>
			<li> <a href=/M_productos_listado>Productos</a> </li> <p>
			<li> <a href=/M_pedidos_listado>Pedidos</a> </li> <p>
		</ul>
	</body>
</html>